{% extends 'base.html' %}
{% block head %}
<title>Coronavirus Counter - {{ b.country }}</title>
{% endblock %}
{% block body %}
<div class="container-fluid"  style="padding-top: 70px">
  <a href="/countries" class="btn btn-light btn-lg">
  <i class='fas fa-angle-left' style='font-size:24px'></i> <span style="vertical-align: top">Back</span>
  </a>
</div>
<h1 class="container align-center">Cases in {{ b.country }}</h1>
<div class="container jumbotron" style="padding-top: 30px">
  <table class="table table-borderless d-lg-none">
    <thead>
      <tr>
        <th>Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ '{:,}'.format(b.cases) }}</td>
        <td>{{ '{:,}'.format(b.recovered) }}</td>
        <td>{{ '{:,}'.format(b.deaths) }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-borderless d-lg-none">
    <thead>
      <tr>
        <th>Critical Cases</th>
        <th>Active Cases</th>
        <th>New Cases</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ '{:,}'.format(b.critical) }}</td>
        <td>{{ '{:,}'.format(b.active) }}</td>
        <td>{{ '{:,}'.format(b.todayCases) }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-borderless d-lg-none">
    <thead>
      <tr>
        <th>New Deaths</th>
        <th>Cases per Million</th>
        <th>Deaths per Million</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ '{:,}'.format(b.todayDeaths) }}</td>
        <td>{{ '{:,}'.format(b.casesPerOneMillion) }}</td>
        <td>{{ '{:,}'.format(b.deathsPerOneMillion) }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <table class="table table-borderless d-none d-lg-block">
    <thead>
      <tr>
        <th>Cases</th>
        <th>New Cases</th>
        <th>Active Cases</th>
        <th>Recovered</th>
        <th>Critical Cases</th>
        <th>Deaths</th>
        <th>New Deaths</th>
        <th>Cases per Million</th>
        <th>Deaths per Million</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ '{:,}'.format(b.cases) }}</td>
        <td>{{ '{:,}'.format(b.todayCases) }}</td>
        <td>{{ '{:,}'.format(b.active) }}</td>
        <td>{{ '{:,}'.format(b.recovered) }}</td>
        <td>{{ '{:,}'.format(b.critical) }}</td>
        <td>{{ '{:,}'.format(b.deaths) }}</td>
        <td>{{ '{:,}'.format(b.todayDeaths) }}</td>
        <td>{{ '{:,}'.format(b.casesPerOneMillion) }}</td>
        <td>{{ '{:,}'.format(b.deathsPerOneMillion) }}</td>
      </tr>
      </a>
    </tbody>
  </table>
</div>
{% endblock %}
