{% extends 'base.html' %}
{% block head %}
<title>Coronavirus Counter - Countries</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- Chart code -->
<script src="">
</script>
<!-- HTML -->
<h1 style="padding-top: 70px" class="container align-center">Countries</h1>
<div class="container jumbotron" style="padding-top: 30px">
  <div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text"><i class="material-icons">search</i></span>
  </div>
  <input class="form-control" id="myInput" type="text" placeholder="Search"></div>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Country</th>
        <th>Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody id="myTable">
      {% for i in a %}
      <tr id="{{ i.country }}">
        <td><a href="/countries/{{i.country}}" class="btn btn-link">{{ i.country }}</a></td>
        <td>{{ '{:,}'.format(i.cases) }}</td>
        <td>{{ '{:,}'.format(i.recovered) }}</td>
        <td>{{ '{:,}'.format(i.deaths) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
{% endblock %}
