{% extends 'base.html' %}
{% block head %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Coronavirus Counter</title>
{% endblock %}
{% block body %}
<h1 style="padding-top: 70px" class="container align-center">Cases Worlwide</h1>
<div class="container jumbotron" style="padding-top: 30px">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cases }}</td>
        <td>{{ recovered }}</td>
        <td>{{ deaths }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" style="padding-top: 40px">
  <a href="/countries" class="btn" role="button"><h1>Countries</h1>
    <p>(Click to view countries)</p>
  </a>
</div>
{% endblock %}
