{% extends 'base.html' %}
{% block head %}
<title>Coronavirus Counter - Worlwide</title>
{% endblock %}
{% block body %}
<h1 style="padding-top: 70px" class="container align-center">Cases Worlwide</h1>
<div class="container jumbotron" style="padding-top: 30px">
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Cases</th>
        <th>Recovered</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ cases }}</td>
        <td>{{ recovered }}</td>
        <td>{{ deaths }}</td>
      </tr>
    </tbody>
  </table>
  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1025496/charts/1?bgcolor=%23ffffff&color=%23d9ca00&dynamic=true&results=160&type=line"></iframe>
  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1025496/charts/2?bgcolor=%23ffffff&color=%2300aaff&dynamic=true&results=160&type=line"></iframe>
  <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1025496/charts/3?bgcolor=%23ffffff&color=%23ff2a00&dynamic=true&results=160&type=line"></iframe>
</div>
{% endblock %}
